* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #FFFFFF;
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;

  font-family: "Poppins", sans-serif;
  font-weight: 300, 400, 500;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.background { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.top_image img, .bottom_image img {
  width: 100%;
  height: 20vh; /* 20% da altura da viewport */
  object-fit: cover; /* Para garantir que a imagem se ajuste bem dentro do contêiner */
}

.top_image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.bottom_image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.container {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.349); /* Fundo transparente para contraste */
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /*24px*/
  margin-right: 30px;
}

.countdown h1 {
  color: var(--purple);
  font-weight: bold;
  font-size: 2.25rem; /*36px*/
}

.time-box-container {
  border: 2px solid rgb(255, 123, 0);

  display: flex;
  gap: 1rem;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-box p {
  border: 2px solid rgb(255, 0, 140);

  color: var(--light-grey);
  font-weight: 300;
  font-size: 1rem; /*16px*/
}

.time-box span {
  border: 2px solid blue;
  
  color: var(--black);
  font-weight: 400;
  font-size: 4.5rem; /*72px*/
}

.countdown h2 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem; /*16px*/
}

.countdown button {
  background: var(--purple);
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.image_foguete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_foguete img {
  max-width: 400px;
  width: 100%;
}