* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #FFFFFF;
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;

  font-family: "Poppins", sans-serif;
  font-weight: 300, 400, 500;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.top_image img, .bottom_image img {
  width: 100%;
  height: 20vh; /* 20% da altura da viewport */
  object-fit: cover; /* Para garantir que a imagem se ajuste bem dentro do contêiner */
}

.top_image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.bottom_image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 950px;
  height: 50%;
  max-height: 530px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adiciona padding interno */
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.349); /* Fundo transparente para contraste */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /*16px*/
  flex: 1; /* Faz o countdown ocupar o máximo de espaço possível */
}

.countdown h1 {
  color: var(--purple);
  font-weight: bold;
  font-size: 2rem; /*32px*/
}

.time-box-container {
  display: flex;
  gap: 1rem;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-box p {
  color: var(--light-grey);
  font-weight: 300;
  font-size: 1rem; /*16px*/
}

.time-box span {
  color: var(--black);
  font-weight: 400;
  font-size: 4.5rem; /*72px*/
}

.countdown h2 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem; /*16px*/
}

.subscribe_button {
  background: var(--purple);
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.subscribe_button:hover {
  transform: scale(1.3);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(60, 29, 197, 0.253); 
}

.content_modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.content_modal h2 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.5rem; /*16px*/
  text-align: center;
}

.close {
  color: var(--black);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--purple);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.3);
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input {
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.submit_button {
  background: var(--purple);
  color: #fff;
  width: 130px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 5px;
}

.submit_button:hover {
  transform: scale(1.3);
}

.image_foguete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Faz a imagem foguete ocupar o máximo de espaço possível */
}

.image_foguete img {
  max-width: 400px;
  width: 100%;
}

.image_foguete {
  position: relative;
  z-index: -1;
}

/* media queries */
@media only screen and (max-width: 940px) {

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .countdown {
    flex: none;
    margin-right: 1rem;
  }

  .countdown h1 {
    font-size: 1.5rem;
  }

  .time-box span {
    font-size: 2rem;
  }

  .image_foguete {
    flex: none;
  }
}

@media only screen and (max-width: 800px) {

  .countdown h2 {
    font-size: 0.87rem;
  }

  .image_foguete {
    flex: none;
    max-width: 300px;
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countdown {
    flex: none;
    margin: 0;
    margin-bottom: 1.5rem;
  }

}